<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="AwaitingDirectoryFullPath" value="F:\GettingInside\Subrata\Awaiting\"/>
    <add key="CompleteDirectoryFullPath" value="F:\GettingInside\Subrata\Complete\"/>
    <add key="ErrorDirectoryFullPath" value="F:\GettingInside\Subrata\Error\"/>
    <add key="ServerDirectoryFullPath" value="F:\GettingInside\Subrata\ServerDestination\"/>
    <add key="SourceDirectoryFullPath" value="F:\DOC\"/>
    <add key="ZipFileDesc" value="F:\DOC\"/>
    <add key="TCPClientIP" value="35.154.68.177"/>
    <add key="TCPClientPort" value="5555"/>
  </appSettings>
</configuration>